{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <!-- <div style="margin-top:30px">
          <h3>Sponsors & Contributors</h3>
  
          <ul>
          <li><p>Developers from <a href="https://moodle.org/">Moodle</a> are contributing to CommonsPub as part of <a href="https://new.moodle.net/">MoodleNet</a>, a social network for communities of educators to connect, learn, and curate open content together</p></li>
          
          </ul>
  
        </div> -->

      </div>
    </div>
  </div>
{{ end }}

